body {
    margin: 0;
    background-color: #000000;
    box-sizing: border-box;
    font-family: "Lekton", monospace;
  }
  
  .container { 
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:visited {
    color: #ffffff;
  }