body {
    background-color: #faa249;
    margin: 0;
    font-family: "Lekton", monospace;
    height: 100vh;
    }
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
#stopwatch {
    z-index: 2;
    position: relative;
    margin: 50px auto;
    text-align: center;
    font-weight: bold;
  }

ul {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 0;
}
  
li {
    list-style: none;
    margin-bottom: 5px;
  }

li a {
  text-decoration: none;
  color: #4e0666;
}

.info {
    color: #4e0666;
    max-width: 1000px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 1.5;
    font-size: 20px;
  }

.question {
  background-color: #ffd5ac;
  font-style: italic;
}

.answer {
    background-color: #4e0666;
    color: #faa249;
}

#checkboxContainer {
  margin-top: 40px;
}

.checkbox {
  margin-bottom: 10px;
}